In [3]:
i = 1

while i < 6 :
    if i == 3 :
        break    #break의 경우 if문이 조건에 성립할 경우 그 이후의 while은 실행되지 않음
    print(i)
    
    i = i + 1

1
2

In [301]:
i = 0
while i < 6 :
    i = i + 1
    
    if i == 3 :
        continue  #continue의 경우 if문이 성립할 경우 아래의 식은 보지 않고 while문으로 들어가서 실행됨
    print(i)

1
2
4
5
6

In [7]:
i = 0

while i > 6 :
    print(i)
    i += 1
else :
    print('끝')

print ('옹?')

끝
옹?

In [9]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [11]:
for x in range(2, 30, 8):
    print(x)

2
10
18
26

In [306]:
point = [24, 78, 40, 80, 90]

for x in point :
    if x >= 60 :
        print('축하합니다. %d점으로 합격하셨습니다.'%x)
    elif x >= 50 :
        print('%d점으로 패자부활권을 드리겠습니다.'%x)
    else :
        print('죄송합니다. %d점으로 불합격하셨습니다.' %x)

죄송합니다. 24점으로 불합격하셨습니다.
축하합니다. 78점으로 합격하셨습니다.
죄송합니다. 40점으로 불합격하셨습니다.
축하합니다. 80점으로 합격하셨습니다.
축하합니다. 90점으로 합격하셨습니다.

In [29]:
i = 0
 
while i < 6 :
    i += 1
    if i == 3 :
        break
    print(i)
       
print('끝')

1
2
끝

In [59]:
my_tea = list()
my_car = list()

print(my_tea, type(my_tea))
print(my_car, type(my_car))

my_tea.append('camomile') #append 뒤로 추가
print(my_tea, type(my_tea))
print(my_car, type(my_car))

my_car.append('cadelock')
print(my_tea, type(my_tea))
print(my_car, type(my_car))

[] <class 'list'>
[] <class 'list'>
['camomile'] <class 'list'>
[] <class 'list'>
['camomile'] <class 'list'>
['cadelock'] <class 'list'>

In [69]:
my_tea.append('beno') #append에는 값을 하나만 넣을 수 있음 + 중복값 가능
print(my_tea)

['camomile', 'camomile', 'camomile', 'camomile', 'camomile', 'hr', 'hr', 'heno', 'aeno', 'beno']

In [36]:
my_tea.insert(2, 'royibos') #insert의 경우 위치를 설정하여 추가가 가능함
print(my_tea)

['camomile', 'camomile', 'royibos', 'royibos', 'royibos', 'royibos', 'camomile', 'camomile']

In [47]:
print(len(my_tea)) #list 의 길이 check
print(len(my_car))

#두번째것만 나오게
print(my_tea[1])

my_tea.remove(my_tea[0])
print(my_tea)

3
1
camomile
['camomile', 'camomile']

In [46]:
my_tea.remove('royibos') #shift + tab 시 설명이 떠짐
print(my_tea)

['royibos', 'camomile', 'camomile']

In [75]:
print(my_tea)

my_tea.sort() #sort의 경우 정렬의 뜻_오름차순 정렬
print(my_tea)

my_tea.sort(reverse=True) #sort의 경우 정렬의 뜻_내림차순 정렬
print(my_tea)

a = my_tea.pop(-1) #pop뒤에 아무것도 쓰지 않으면 마지막값이 리턴값이 되어 a에 대입된다. 꺼내온 값이 삭제 된다. -1이라는 건 맨 끝에꺼를 말하는 것이며, -2로 하면 뒤에서 두번째
print(a)
print(my_tea)

['hr', 'hr', 'heno', 'camomile', 'camomile', 'camomile', 'camomile', 'camomile']
['camomile', 'camomile', 'camomile', 'camomile', 'camomile', 'heno', 'hr', 'hr']
['hr', 'hr', 'heno', 'camomile', 'camomile', 'camomile', 'camomile', 'camomile']
camomile
['hr', 'hr', 'heno', 'camomile', 'camomile', 'camomile', 'camomile']

In [84]:
my_hand = tuple()
my_foot = ()  #둘 다 tuple이라는 뜻

print(my_foot, type(my_foot))
print(my_hand, type(my_hand))

my_hand = ('hr', 'hr', 'heno', 'camomile', 'camomile', 'camomile', 'camomile', 'camomile')
print(my_hand, type(my_hand))

print(my_hand[0])
print(my_hand[2:3])

# my_hand[0] = 'hi

() <class 'tuple'>
() <class 'tuple'>
('hr', 'hr', 'heno', 'camomile', 'camomile', 'camomile', 'camomile', 'camomile') <class 'tuple'>
hr
('heno',)

In [100]:
my_hand1 = list(my_hand) #튜플을 change

print(type(my_hand))
print(type(my_hand1))

my_hand1.append('hi')
print(my_hand1)

my_hand1 = tuple(my_hand)

print(type(my_hand1))
print(type(my_hand))

a = my_hand.count('hr') #같은 캐릭터의 갯수를 세어서 return해줌
print(a)

print(my_hand.count('camomile')) #변수에 넣어서 count하지 않고 바로 print안에 기입 O

<class 'tuple'>
<class 'list'>
['hr', 'hr', 'heno', 'camomile', 'camomile', 'camomile', 'camomile', 'camomile', 'hi']
<class 'tuple'>
<class 'tuple'>
2
5

In [114]:
#set 만드는 방법
my_face = {'qwer','asdf'}
#set 만드는 방법
my_leg = set()

my_leg.add('d')
my_leg.add('a') #set의 경우 중복되지 않는 것을 확인

print(type(my_face))
print(type(my_leg))
print(my_leg)

# print(my_leg[0]) #index 안됨

print('a'in my_leg)
print('b'in my_leg) # in 연산자는 set에서 있으면 True, 없으면 False가 노출

my_leg.remove('a')
print(my_leg)

my_leg.discard('d')
print(my_leg)

<class 'set'>
<class 'set'>
{'a', 'd'}
True
False
{'d'}
set()

In [323]:
my_id = []

for n in range(5) :
    x = int(input('%d번째 학생의 점수를 입력하세요' % (n+1)))
    my_id.append(x)      
print(my_id)


#점수의 총합 코드 작성
j = 0
for s in my_id :
    j = j + s
print(j)

1번째 학생의 점수를 입력하세요 50
2번째 학생의 점수를 입력하세요 60
3번째 학생의 점수를 입력하세요 80
4번째 학생의 점수를 입력하세요 90
5번째 학생의 점수를 입력하세요 40

[50, 60, 80, 90, 40]
320

In [173]:
#위의 코드에서 학생의 수를 입력하세요로 노출되게끔
stu_point = []
n = 0
n = int(input('학생 수를 입력하시오')) 


for z in range(0,n) :
    o = int(input('%d번째 학생의 점수를 입력하세요' %(z + 1)))
    stu_point.append(o)
            
print(stu_point) 

v = 0
for u in stu_point :
    v = v + u
print(v)    

# score = []
# i = 0
# sum1 = 0
# j = 0
# while i < 5 : 
#     add = int(input('리스트에 점수를 추가하세요'))
#     score.append(add)
#     i = i + 1
# while j < 5 :
#     sum1 = sum1 + score[j]
#     j = j + 1


# print(score)
# print(sum1)

학생 수를 입력하시오 2
1번째 학생의 점수를 입력하세요 100
2번째 학생의 점수를 입력하세요 12

[100, 12]
112

In [199]:
score = []
i = 0
s = int(input('학생의 수를 입력해주세요'))

if s >= 100 :
    print('죄송합니다. 더 적은 학생의 수를 기입해주세요.')
elif s <= 1 :
    print('죄송합니다. 더 많은 학생의 수를 기입해주세요.')
else :
    while i < s : 
        add = int(input('%d번째 학생의 점수를 입력하세요'%(i+1)))
        score.append(add)
        i += 1

print(score)

u = 0

for d in score :
    u = u + d
print(u)

학생의 수를 입력해주세요 2
1번째 학생의 점수를 입력하세요 50
2번째 학생의 점수를 입력하세요 60

[50, 60]
110

In [206]:
my_dict = {'name' : 'haryul', 'age' : 25 ,'mom' : 25 , 'tall' : 173} #key의 경우 중복이 되지 않음 또한 무조건 문자열로 기입해야함
my_dict1 = dict()

print(my_dict, type(my_dict))
print(my_dict1, type(my_dict1))
print(len(my_dict))

{'name': 'haryul', 'age': 25, 'mom': 25, 'tall': 173} <class 'dict'>
{} <class 'dict'>
4

In [211]:
keys = my_dict.keys()  #키만
values = my_dict.values()#값만
items = my_dict.items() #키랑 값만

print(keys, type(keys))
print(values, type(values))
print(items, type(items))

name = my_dict.get('name') # 1 .get을 사용하여 변수에 대입
age = my_dict.get('age')
m = my_dict.get('mom')
t = my_dict['tall'] # 1. ['']을 사용하여 변수에 대입

print(name, type(name))
print(age, type(age))
print(m, type(m))
print(t, type(t))

dict_keys(['name', 'age', 'mom', 'tall']) <class 'dict_keys'>
dict_values(['haryul', 25, 25, 173]) <class 'dict_values'>
dict_items([('name', 'haryul'), ('age', 25), ('mom', 25), ('tall', 173)]) <class 'dict_items'>
haryul <class 'str'>
25 <class 'int'>
25 <class 'int'>
173 <class 'int'>

In [216]:
print(my_dict)            
my_dict['age'] = 22       #딕셔너리 값 변경
my_dict['add'] = 'seoul'  #딕셔너리 값 추가
my_dict['ryul'] = 'so'
print(my_dict)

{'name': 'haryul', 'age': 22, 'mom': 25, 'tall': 173, 'add': 'seoul', 'ryul': 'so'}
{'name': 'haryul', 'age': 22, 'mom': 25, 'tall': 173, 'add': 'seoul', 'ryul': 'so'}

In [227]:
person = [
    {'ah' : 1,
     'oh' : 2,
     'ha' : 3,},
    {'aaa' : 'dkdk',
     'bbb' : 'dkdk',
     'ccc' : 'dfdf'}]

print(person, type(person))

# ah = person.keys

# print(ah, type(ah))

a = 0
for p in person :
    print(type(p))
    print(p.get('ah'))
    # a = person.keys()
    # print(a)

[{'ah': 1, 'oh': 2, 'ha': 3}, {'aaa': 'dkdk', 'bbb': 'dkdk', 'ccc': 'dfdf'}] <class 'list'>
<class 'dict'>
1
<class 'dict'>
None

In [242]:
hey = {'name' : '0', 'kor' : 0 ,'eng' : 0 , 'mat' : 0}

f = input('당신의 이름은 무엇입니까?')
e = int(input('당신의 국어점수는 무엇입니까?'))
d = int(input('당신의 영어점수는 무엇입니까?'))
c = int(input('당신의 수학점수는 무엇입니까?'))

hey['name'] = f
hey['kor'] = e
hey['eng'] = d
hey['mat'] = c

sUm = 0

sUm = hey.get('kor') + hey.get('eng') + hey.get('mat')
evg = sUm/3
print('%s님의 총점은 %d점이며 평균은 %d점 입니다.'% (f, sUm, evg))

print(hey)

당신의 이름은 무엇입니까? 박하률
당신의 국어점수는 무엇입니까? 100
당신의 영어점수는 무엇입니까? 100
당신의 수학점수는 무엇입니까? 100

박하률님의 총점은 300점이며 평균은 100점 입니다.
{'name': '박하률', 'kor': 100, 'eng': 100, 'mat': 100}

In [262]:
def my_function(n, msg): #같은 변수를 사용해도 괜찮음, 단 함수의 있는 것은 별도의 영역이기에 로컬변수라고 함
    print('-'*n)
    print(msg)
    print('-'*n)

In [263]:
x = int(input(''))
y = input('')
my_function(x, y)
#my_function(10)

 10
 hi

----------
hi
----------

In [298]:
def my_ad(n, m):
    print('합을 출력하겠습니다.')
    t = n + m
    print('%d + %d = %d' %(n, m, t)) 
    
def my_mi(n, m):
    print('차를 출력하겠습니다.')    
    if n < m :
        t = m - n
        print('%d - %d = %d' %(m, n, t))
    else :        
        t = n - m
        print('%d - %d = %d' %(n, m, t))
        
def my_mu(n, m) :
    print('곱을 출력하겠습니다.')    
    t = n * m
    print('%d x %d = %d' %(n, m, t)) 
    
def my_di(n, m) :
    print('나눗셈을 출력하겠습니다.')    
    t = n % m
    print('%d / %d = %d' %(n, m, t))

In [307]:
a = int(input('값을 넣어주세요'))
b = int(input('값을 넣어주세요'))
my_ad(a, b)
my_mi(a, b)
my_mu(a, b)
my_di(a, b)

값을 넣어주세요 60
값을 넣어주세요 500

합을 출력하겠습니다.
60 + 500 = 560
차를 출력하겠습니다.
500 - 60 = 440
곱을 출력하겠습니다.
60 x 500 = 30000
나눗셈을 출력하겠습니다.
60 / 500 = 60

In [351]:
# 받은 수를 1에서 받은 수까지 더하는 함수
def my_um(y) :
    u = 0
    i = y
    while 0 < y :
        u = y + u
        y -=1
    print ('1부터 %d까지 받은 수의 합은 %d' %(i, u))

In [350]:
a = int(input('입력한 수까지 모든 값을 더합니다.'))
my_um(a)

입력한 수까지 모든 값을 더합니다. 5

1부터 5까지 받은 수의 합은 15

In [352]:
def my_li(n) :
    print(n, type(n))

In [353]:
cheak = []
i = 10 
a = int(input('리스트에 담을 수를 기재하세요'))
while i >= 0 :
    cheak.append(a)
    i -= 1
my_li(cheak)

리스트에 담을 수를 기재하세요 5

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5] <class 'list'>

In [359]:
def my_numcheak(x, y, z) :
    if x > y :
        if x > z :
            print('%d,%d,%d 중 가장 큰 수는 %d입니다.'%(x, y, z, x))
        else :
             print('%d,%d,%d 중 가장 큰 수는 %d입니다.'%(x, y, z, z))
    elif  y > x :
        if y > z :
            print('%d,%d,%d 중 가장 큰 수는 %d입니다.'%(x, y, z, y))
        else :    
            print('%d,%d,%d 중 가장 큰 수는 %d입니다.'%(x, y, z, z))
    else :
        print('중복된 숫자가 있으면 안됩니다.')

In [363]:
a = int(input('수를 적어보세요'))
b = int(input('수를 적어보세요'))
c = int(input('수를 적어보세요'))

my_numcheak(a, b, c)

수를 적어보세요 9
수를 적어보세요 2
수를 적어보세요 1

9,2,1 중 가장 큰 수는 9입니다.

In [14]:
def my_di(n) :
    if n == 1 :
        bo = int(input('직삼각형의 밑변을 기입하세요'))
        he = int(input('직삼각형의 높이를 기입하세요'))
        a = bo * he /2
        print('직삼각형의 넓이는 %d입니다.'%a)
    elif n == 2 :
        r = int(input('원의 반지름을 기입하세요'))
        b = r*r*3.14
        print('원의 넓이는 %d입니다.'%b)
    elif n == 3 :
        r1 = int(input('정사각형 한 변의 길이를 기입하세요'))
        c = r1*r1
        print('정사각형의 넓이는 %d입니다.' %c)
    elif n == 4 :
        bo = int(input('직사각형의 밑변을 기입하세요'))
        he = int(input('직사각형의 높이를 기입하세요'))
        d = bo * he /2
        print('직삼각형의 넓이는 %d입니다.'%d)        
    else :
        print('1~4까지의 숫자만 취급합니다.')

In [15]:
a = int(input('1.직삼각형, 2. 원, 3. 정사각형, 4. 직사각형\n 중 넓이를 구하고 싶은 번호를 기입하세요.'))
my_di(a)

1.직삼각형, 2. 원, 3. 정사각형, 4. 직사각형
 중 넓이를 구하고 싶은 번호를 기입하세요. 2
원의 반지름을 기입하세요 5

원의 넓이는 78입니다.

In [19]:
#3번 하다 말..ㅁ..
def pickup_even(m) :
    en = []    
    for i in m :
        if i % 2 == 0 : 
            en.append(i)