In [7]:
def my_add(a ,b) :
    x = a + b  #return 만나면 호출한 쪽으로 돌아오게 됨
    return x

In [9]:
y = my_add(10, 12) #return 값을 왼쪽에 대입
print(y)

22

In [35]:
def my_evenadd(a) :
    if a % 2 == 0 :
        return '짝수입니다.'
    else :
        return '홀수입니다.'

In [231]:
y = my_evenadd(8)
print(y)

짝수입니다.

In [42]:
def my_addsub(a, b) :
    x = a + b 
    y = a - b 
    
    return x, y

In [44]:
y = my_addsub(10, 5)
print(type(y),y[0],y[1])

<class 'tuple'> 15 5

In [45]:
def my_o(a) :
    r = a*a*3.14
    return r

In [46]:
r = int(input('원의 반지름 값을 적어주세요.'))
y = my_o(r)
print(y)

원의 반지름 값을 적어주세요. 10

314.0

In [232]:
def my_failmy(*name) :
    for a in name :
        print(a)

In [63]:
my_failmy(1) 
    # a = int(input('숫자 기입'))
my_failmy('a','b')
    # a = int(input('숫자 기입'))
    # b = input('글자 기입')
my_failmy('c','b','a')
    # a = int(input('숫자 기입'))
    # b = input('글자 기입')
    # c = int(input('숫자 기입'))

1
a
b
c
b
a

In [69]:
def my_failmy(**name):
    # print(type(name))
    print(name)
    print(name['e'])

In [70]:
my_failmy(e='nayoun', lname='lee')

{'e': 'nayoun', 'lname': 'lee'}
nayoun

In [166]:
def my_UUm(o) :
    en = []
    while 0 < o :
        p = int(input('더할 숫자를 기입하세요'))
        en.append(p)
        o -= 1
    
    return(en)

def my_sm(q) : # *은 튜플이라는 뜻 
    u = 0
    for i in q :
        u = u + i
        
    return u

In [197]:
x = int(input('숫자를 기입하세요'))

a = my_UUm(x)

y = my_sm(a) 
print(y)

숫자를 기입하세요 2
더할 숫자를 기입하세요 1
더할 숫자를 기입하세요 2

3

In [109]:
# def my_con(country='Kor') : #기본값 삽입, 그러나 기본값있는게 뒤에 넣어야함
#     print(country)

In [126]:
def my_con(stack, ry, country='Kor') : #기본값 삽입, 그러나 기본값있는게 뒤에 넣어야함
    print(stack, country)

In [129]:
# my_con()
my_con('USA', 're', 'er' )
my_con('Wa','ef')
print(my_con, type(my_con))

USA er
Wa Kor
<function my_con at 0x0000015D5618CDC0> <class 'function'>

In [203]:
def my_ho(v) :
    ssm = []
    i = 0
    for z in range(v) :
        i = int(input('수를 입력하세요.'))
        ssm.append(i)
    return(ssm)
    
def my_ssm(a) :
    n = 0
    for i in a :
        n = n + i
    return(n)

In [205]:
a = int(input('합을 구할 숫자의 갯수를 입력하세요.'))

b = my_ho(a)

m = my_ssm(b)
print(m)

합을 구할 숫자의 갯수를 입력하세요. 5
수를 입력하세요. 1
수를 입력하세요. 2
수를 입력하세요. 3
수를 입력하세요. 4
수를 입력하세요. 5

15

In [207]:
pow(3,2) #base, exp의 거듭제곱

9

In [212]:
x = int(input('숫자를 기입하세요'))
y = int(input('제곱숫자를 기입하세요'))

z = pow(x,y)

print('거듭제곱의 수는 %d입니다.'%z)

숫자를 기입하세요 2
제곱숫자를 기입하세요 5

거듭제곱의 수는 32입니다.

In [230]:
x = []

a = int(input('수를 넣어보세요')) 
b = int(input('수를 넣어보세요')) 

x.append(a)
x.append(b)

p = sum(x)
print(p, type(x))

수를 넣어보세요 6
수를 넣어보세요 6

12 <class 'list'>

In [292]:
#틀을 만드는 것
class Car() :
#     id = '1234'
#     name = 'bmw'
#     speed = 100
    
    def __init__(self, id, name) : #생성자 초기화
        self.id = id
        self.name = name
        
    def my_print(self):
        print(self.id, self.name)

    def get_id(self) :                 #self는 클래스 내부에서만 사용할 수 있는 것
        return self.id
    
    def get_name(self):
        return self.name

In [297]:
#객체 생성
c1 = Car('5555', 'bmw') #생성자를 통한 변수 변경
c2 = Car('4444', 'benz')

# c1.id = '20'  #값 변경
# c2.name = 'audi'
# print(c1.id, c1.name)
# print(c2.id, c2.name)

c1.my_print()
c2.my_print()

f = c1.get_id()
c = c2.get_id()
a = c1.get_name()
print(a)
# print(f) 만든 return값 출력
# print(c)
print(type(c1))

cars = [c1, c2]
print(cars,type(cars))
x = cars[0].get_id()
print(x)

for x in cars :
    x.get_id()

5555 bmw
4444 benz
bmw
<class '__main__.Car'>
[<__main__.Car object at 0x0000015D564FBA90>, <__main__.Car object at 0x0000015D564FB520>] <class 'list'>
5555

In [283]:
class Person() :
    # name = '박하률'
    # age = '23'
    def __init__(self, name, age) :
        self.name = name
        self.age = age
        
    def my_print(self) :
        print(self.name, self.age)
#객체생성    
p1 = Person('haryul','22')
p2 = Person('soryul','25')

print(p1.name, p1.age)

p1.my_print()
p2.my_print()

haryul 22
haryul 22
soryul 25

In [336]:
class Student() :
    def __init__(self, name, kor, eng, math) :
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
        
    def get_sum(self) :
        a = self.kor + self.eng + self.math
        return a
    def get_name(self) :
        return self.name

In [364]:
hi = []

student1 = Student('A',10,100,100)
student2 = Student('B',70,50,90)
student3 = Student('C',60,90,80)
student4 = Student('D',50,10,60)
student5 = Student('E',20,30,40)                   

aaa = [student1, student2, student3, student4, student5]


u1 = student1.get_sum()
u2 = student2.get_sum()
u3 = student3.get_sum()
u4 = student4.get_sum()
u5 = student5.get_sum()

n1 = student1.get_name()
n2 = student2.get_name()
n3 = student3.get_name()
n4 = student4.get_name()
n5 = student5.get_name()

print('%s학생의 총점은 %d입니다.' %(n1, u1))
print('%s학생의 총점은 %d입니다.' %(n2, u2))
print('%s학생의 총점은 %d입니다.' %(n3, u3))
print('%s학생의 총점은 %d입니다.' %(n4, u4))
print('%s학생의 총점은 %d입니다.' %(n5, u5))


for n in aaa :
    hi.append(n.get_sum())
    
sum(hi)

A학생의 총점은 210입니다.
B학생의 총점은 210입니다.
C학생의 총점은 230입니다.
D학생의 총점은 120입니다.
E학생의 총점은 90입니다.

860